/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
    box-sizing: border-box;
  }
  
  body {
    background: #ffffff;
    color: #898989;
    font-family: 'Poppins', helvetica;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.02em;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  h1 {
    color: black;
  }
  h2 {
    color: #292929;
    font-weight: 600;
  }
  
  h4 {
    color: #292929;
    font-size: 14px;
    font-weight: 600;
  }
  
  a {
    color: #292929;
    text-decoration: none !important;
    transition: all 0.5s ease-in-out 0s;
  }
  
  a:hover {
    transition: all 0.5s ease-in-out 0s;
  }
  
  p {
    margin: 25px 0;
    padding: 0;
    font-size: 15px;
    color: #999999;
    line-height: 28px;
  }
  
  ::-moz-selection {
    background: #b8a07e;
    color: #fff;
  }
  
  ::selection {
    background: #b8a07e;
    color: #fff;
  }
  
  .btn {
    background: #333;
    border: medium none;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
  }
  
  .btn:hover, .btn:focus {
    color: #fff;
  }
  
  .padDiv {
    padding: 30px 20px;
  }
  
  .section-title {
    margin-bottom: 70px;
  }
  
  .section-title h2 {
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .form-control {
    background-color: transparent;
    border: 1px solid #999;
    border-radius: 0;
    color: #999999;
    font-size: 12px;
    font-weight: 500;
    height: 50px;
    letter-spacing: 0.1em;
    padding-left: 10px;
    margin: 0 0 25px 0;
    line-height: 14px;
    text-transform: uppercase;
  }
  
  .form-control:focus {
    box-shadow: none;
    outline: 0 none;
  }
  
  .paddsection {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  
  .paddsections {
    padding-top: 90px;
    padding-bottom: 90px !important;
  }
  
  .hvr-shutter-in-horizontal::before {
    background: #333;
  }
  
  .hvr-shutter-in-horizontal:hover {
    background: #b8a07e;
  }
  
  .mb-30 {
    margin-bottom: 30px;
  }
  
  .main-content {
    padding-top: 140px;
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #b8a07e;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #c6b398;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  
  /*--------------------------------------------------------------
  # Profile
  --------------------------------------------------------------*/
  #profile {
    width: 100%;
    height: auto;
    margin: 70px 185px;
    top: -100%;
  }
  #profile .row1{
    display: flex;
  }
  #profile .hero-content {
    height: 80vh;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #profile .column1 h1{
   width:80%;
  }
  .column1{
    float: left;
    width: 50%;
    padding: 10px;
  }
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  #profile img{
    border-radius: 50%;
    box-shadow: 0px 6px 5px #ccc;
  }
  #profile .hero-content {
    height: 100vh;
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .profile-content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: black;
  }
  
  .hero-content p {
    font-size: 13px;
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: black;
    font-weight: 500;
  }
  
  /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 120px 0 0 0;
    background-color: white;
    min-height: 40px;
  }
  
  @media (max-width: 992px) {
    .breadcrumbs {
      padding-top: 100px;
    }
  }
  
  .breadcrumbs h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
  }
  
  @media (max-width: 992px) {
    .breadcrumbs h2 {
      margin: 0 0 10px 0;
    }
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
  
  .breadcrumbs ol li + li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
  }
  
  @media (max-width: 768px) {
    .breadcrumbs .d-flex {
      display: block !important;
    }
    .breadcrumbs ol {
      display: block;
    }
    .breadcrumbs ol li {
      display: inline-block;
    }
  }
  
  /*-----------------------------------------------------------------------------------*/
  /*  About
  /*-----------------------------------------------------------------------------------*/
  #about {
    width: 100%;
    height: auto;
    background: #f7f7f7;
    padding-top: 120px;
  }
  #about .column1 a, h2{
      margin-left: 200px;
  }
  #about .column1 .about-descr h2{
      margin: 0px;
  }
  #about .about-descr .separator {
    max-width: 80%;
    margin-bottom: 0;
    text-align: left;
  }
  
 
  /*--------------------------------------------------------------
  # Project
  --------------------------------------------------------------*/
  #project {
    height: auto;
    width: 100%;
    background: #ffffff;
    padding-bottom: 60px;

  }
  
  #project .journal-block {
    display: inline-block;
    height: auto;
    width: 100%;
  }
  
  #project .journal-block .journal-info  {
    border-bottom: 3px solid #f7f7f7;
    margin-bottom: 30px;
  }
  
  .journal-block .journal-info img {
    margin-left: 250px;
    margin-right: 30px; 
    float: left;
    width: 250px;
    height: 250px;
    max-width: 100%;
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    text-align: center;
    padding-bottom: 50px;
  }
  
  #footer .socials-media {
    width: 100%;
  }
  
  #footer .socials-media ul {
    display: inline-block;
    float: none;
    margin: 0 0 20px 0;
  }
  
  #footer .socials-media ul li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #footer .socials-media ul li a {
    font-size: 24px;
    color: #999;
    letter-spacing: 0.1em;
    font-weight: 500;
    background: transparent;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0s;
  }
  
  #footer .socials-media ul li a:hover {
    color: #b8a07e;
    transition: all 0.5s ease-in-out 0s;
  }
  
  #footer p {
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
    margin-top: 0;
    text-transform: uppercase;
  }
  
  .credits {
    font-size: 13px;
  }
  
  /** Width between 1200x to 0
   *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   */
  /** Width between 992px to 1199px
   *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   */
  /** Width between 768px to 991px
   *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   */
  @media (min-width: 768px) and (max-width: 991px) {
    /*Profile*/
    #profile .row1{
      vertical-align: middle;
      max-width: 70%;
    }

    /* About */
    .head-info .header-content .cmaster h1 {
      font-size: 32px;
    }
    #about .column1 a, h2{
      margin-left: 0px;
    }
    #about .div-img-bg {
      padding: 0;
    }
    #about .div-img-bg .about-img img {
      margin-top: 0%;
      margin-left: calc(0% - 0px);
    }
    #about .about-descr .p-heading {
      font-size: 20px;
    }
    #about .about-descr .separator {
      max-width: 100%;
      margin-bottom: 0;
    }
    /* Project*/
    #project .journal-block .journal-info {
      margin-bottom: 30px;
    }
    .journal-block .journal-info img {
      margin-left: 0px;
    }
    /* Contact */
    .contact-contact {
      margin-bottom: 30px;
    }
    /* Footer */
    #footer .socials-media ul li {
      margin-right: 0;
      margin-left: 0;
      float: none;
      display: inline-block;
    }
  }
  
  /** Width between 767px to 0
   *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   */
  @media (max-width: 767px) {
    /*Profile*/
    #profile .row1{
      margin-left: -150px;
      max-width: 80%;
    }

    /* About */
    .head-info .header-content h2 {
      font-size: 32px;
    }
    #about .div-img-bg {
      padding: 0;
    }
    #about .column1 a, h2, p{
      margin-left: 0px;
      font-size: 6px;
    }
    #about .div-img-bg .about-img img {
      margin-top: 0%;
      margin-left: calc(0% - 0px);
    }
    #about .about-descr .p-heading {
      font-size: 10px;
    }
    #about .about-descr .separator {
      max-width: 100%;
      margin-bottom: -30px;
      font-size: 6px;
    }
    /* project */
    #project .journal-block .journal-info {
      margin-bottom: 30px;
      font-size: 5px;
    }
    #project .journal-block .journal-info h4{
      font-size: 10px;
      margin-bottom: -20px;
    }
    .journal-block .journal-info img {
      margin-left: 0px;
    }
    
    /* Footer */
    #footer .socials-media ul li {
      margin-right: 0;
      margin-left: 0;
      float: none;
      display: inline-block;
    }
  }
  
  /** Width between 600px to 0
   *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   */
  @media (max-width: 600px) {
   /*Profile*/
   #profile .row1{
    margin-left: -180px;
    max-width: 120%;
    }
   #profile h1{
      font-size: 10px;
   }
   .hero-content p{
     font-size: 8px;
   }
   #profile img{
    width: 50px;
  }

    /* About */
    .head-info .header-content h1 {
      font-size: 32px;
    }
    #about .div-img-bg {
      padding: 0;
    }
    #about .column1 a, h2, p{
      margin-left: 0px;
      font-size: 5px;
    }
    #about .div-img-bg .about-img img {
      margin-top: 0%;
      margin-left: calc(0% - 0px);
    }
    #about .about-descr .p-heading {
      font-size: 20px;
    }
    #about .about-descr .separator {
      max-width: 100%;
      margin-bottom: 0;
    }
    /* portfolio */
    #portfolio .portfolio-list .nav li {
      float: none;
      margin: 10px;
      display: inline-block;
    }
    /* project */
    #project .journal-block .journal-info {
      margin-bottom: 30px;
      font-size: 5px;
      text-align-last: center;
    }
    #project .journal-block .journal-info h4{
      font-size: 10px;
      margin-bottom: -20px;
    }
    .journal-block .journal-info img {
      margin-left: 0px;
    }

    /* Footer */
    #footer .socials-media ul li {
      margin-right: 0;
      margin-left: 0;
      float: none;
      display: inline-block;
    }
  }
  
  /** Width between 480px to 0
   *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   */
  @media (max-width: 480px) {
    /*Profile*/
   #profile .row1{
    margin-left: -180px;
    max-width: 120%;
    }
   #profile h1{
      font-size: 10px;
   }
   .hero-content p{
     font-size: 8px;
   }
   #profile img{
    width: 50px;
  }
  
    /* About */
    .head-info .header-content h1 {
      font-size: 32px;
    }
    #about .div-img-bg {
      padding: 0;
    }
    #about .div-img-bg .about-img img {
      margin-top: 0%;
      margin-left: calc(0% - 0px);
    }
    #about .about-descr .p-heading {
      font-size: 20px;
    }
    #about .about-descr .separator {
      max-width: 100%;
      margin-bottom: 0;
    }
    /* project */
    #project .journal-block .journal-info {
      margin-bottom: 30px;
    }
    #project h2{
      font-size: 12px;
    }

    /* Contact */
    .contact-contact {
      margin-bottom: 30px;
    }
    /* Footer */
    #footer .socials-media ul li {
      margin-right: 0;
      margin-left: 0;
      float: none;
      display: inline-block;
    }
  }
  
  /** Width between 320px to 0
   *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   */
  @media (max-width: 320px) {
    /* Navbar */
    nav {
      padding: 20px 15px;
    }
    .nav-menu {
      margin-top: 40px;
      display: none;
      float: none;
      width: 100%;
    }
    .nav-menu li {
      float: none;
      width: 100%;
      text-align: center;
      border-top: 1px solid #f7f7f7;
      line-height: 45px;
      margin-left: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .responsive {
      float: right;
      padding-top: 15px;
      display: block;
    }
    /* About */
    .head-info .header-content h1 {
      font-size: 32px;
    }
    #about .div-img-bg {
      padding: 0;
    }
    #about .div-img-bg .about-img img {
      margin-top: 0%;
      margin-left: calc(0% - 0px);
    }
    #about .about-descr .p-heading {
      font-size: 20px;
    }
    #about .about-descr .separator {
      max-width: 100%;
      margin-bottom: 0;
    }
    /* portfolio */
    #portfolio .portfolio-list .nav li {
      float: none;
      margin: 20px;
    }
    /* journal */
    #journal .journal-block .journal-info {
      margin-bottom: 30px;
    }
    /* Contact */
    .contact-contact {
      margin-bottom: 30px;
    }
    /* Footer */
    #footer .socials-media ul li {
      margin-right: 0;
      margin-left: 0;
      float: none;
      display: inline-block;
    }
    /* Single page */
    .entry-comments-body span {
      display: inline-block;
      margin-right: 0;
    }
  }
  